<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" href="/assets/img/logo_sito.png">
    <title>Fisher Company - Gallery</title>

</head>
<body>
    <%- include("partials/nav"); %>

    <div id="content" >
        <h1 class="page_title">Gallery</h1>
        <hr class="linea" >
        <h2 class="title_gallery">Pesce rotondo</h2>
        <hr class="linea_gallery" >
        <img src="/assets/img/gallery/foto1.png" class="img_gallery">
        <h2 class="title_gallery">Pesce lungo</h2>
        <hr class="linea_gallery" >
        <img src="/assets/img/gallery/foto2.png" class="img_gallery">
        <h2 class="title_gallery">Pesce albino</h2>
        <hr class="linea_gallery" >
        <img src="/assets/img/gallery/foto3.png" class="img_gallery">
        <h2 class="title_gallery">Pesce spada</h2>
        <hr class="linea_gallery" >
        <img src="/assets/img/gallery/foto4.png" class="img_gallery">

    </div>
    
    <%- include("partials/footer"); %> 
</body>
</html>