<footer>
    <div id="logo_footer">
        <img src="/assets/img/logo_sito.png" id="img_logo_footer">
        <h1 id="title_logo_footer" >Fisher Company</h1>
    </div>
    <div id="container_col_footer" >
        <div class="col_footer">
            <h1>Compagnia</h1>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Cosa offriamo</a></li>
            </ul>
        </div>
        <div class="col_footer">
            <h1>link utili</h1>
            <ul>
                <li><a href="#">Aiuto</a></li>
                <li><a href="#">Versione PC</a></li>
                <li><a href="#">Versione Mobile</a></li>
            </ul>
        </div>
        <div class="col_footer">
            <h1>dove ci puoi trovare</h1>
            <ul>
                <li>Indirizzo: Torino, via Qualcosa 54 10134</li>
                <li>Mail: <a href="mailto:qualcosa.altro@gmail.com">qualcosa.altro@gmail.com</a></li>
                <li>Telefono: 202 555 011</li>
            </ul>
        </div>
    </div>
</footer>

<script src="/assets/js/all.js" ></script>
<script src="/assets/js/app.js" ></script>